click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.15.3
pyodbc == 4.0.26
Werkzeug==0.15.3
argparse == 1.4.0
google-api-python-client == 1.7.8
WTForms == 2.2.1
simplejson == 3.16.0
SendGrid == 6.0.5
requests == 2.22.0
pytube == 9.5.0
debtools == 0.7.4
pocketsphinx == 0.1.15
azure-cognitiveservices-vision-computervision == 0.3.0
